@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 creditsCol">
            <h3>Western Oregon University</h3>
            <p>CS 460-462 Software Engineering I, II and III, Senior Capstone Course</p>
            <a href="https://github.com/mcaldwell16/SeniorProject">Digital Hijinks Senior Project - GitHub</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 creditsCol">
            <h3>Michael Caldwell</h3>
            <img class="mx-auto d-block" src="~/Content/Michael.png" style="border: 1px solid black;" />
            <p><b>Hood River, OR</b></p>
            <p>Hello everybody, my name is Michael. I started programming in early middle school nearly a decade ago and have been loving it ever since. I hail from Hood River, Oregon and am currently finishing up my Computer Science degree at Western Oregon University. I’m excited to graduate and am ready to see what the future has in store.</p>
        </div>
        <div class="col-lg-3 creditsCol">
            <h3>Brad Christensen</h3>
            <img class="mx-auto d-block" src="~/Content/Brad.png" style="border: 1px solid black;" />
            <p><b>Snoqualmie, WA</b></p>
            <p>
                Hi, I am Brad. I am from Snoqualmie Washington, but I have lived in Oregon since 2014. Technology has always been a huge part of my life, and that led me down a path to become a computer science major. I hope to work around the Portland area after I finish with school.
            </p>
        </div>
        <div class="col-lg-3 creditsCol">
            <h3>Lijian Nian</h3>
            <img class="mx-auto d-block" src="~/Content/Lijian.png" style="border: 1px solid black;" />
            <p><b>Monmouth, OR</b></p>
            <p>Hello, everyone, my name is Lijian Nian. I am an international student from China. Five years ago, I was a student at a Chinese University, I found an interest in computer, and I thought to be a programmer is a cool thing. So, after graduated, I came to Western Oregon University to study computer science until now. I am still on the way to be a good programmer.</p>
        </div>
        <div class="col-lg-3 creditsCol">
            <h3>Noah Castle</h3>
            <img class="mx-auto d-block" src="~/Content/Noah.png" style="border: 1px solid black;" />
            <p><b>Craig, AK</b></p>
            <p>Hello, I am Noah. I have always been fascinated by technology and that lead to computer science. I am from Alaska and have enjoyed Oregon a lot. Hopefully, soon I will be working as a programmer in this state.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 creditsCol">
            <h3>Other Credits</h3>
            <a href="https://github.com/mcaldwell16/SeniorProject/blob/master/README.md">Resources & Tools</a>
        </div>
    </div>
</div>
